
<!-- 
END_OF_PAGE_CORE_PLUGINS
END_OF_PAGE_SCRIPTS

ROUTES
	PAGE_LEVEL_PLUGINS
	PAGE_LEVEL_SCRIPTS
ONLOAD
	END_OF_PAGE_ONLOAD
	PAGE_LEVEL_ONLOAD
-->


<!-- START JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- START CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
	<!-- BEGIN END_OF_PAGE_CORE_PLUGINS -->
	<script {END_OF_PAGE_CORE_PLUGINS.TYPE} {END_OF_PAGE_CORE_PLUGINS.SRC}>{END_OF_PAGE_CORE_PLUGINS.BODY}</script>
	<!-- END END_OF_PAGE_CORE_PLUGINS -->
	
	
<!-- FINISH CORE PLUGINS -->
<!-- START PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE_LEVEL_PLUGINS -->
	<script {PAGE_LEVEL_PLUGINS.TYPE} {PAGE_LEVEL_PLUGINS.SRC}>{PAGE_LEVEL_PLUGINS.BODY}</script>
	<!-- END PAGE_LEVEL_PLUGINS -->
	
	
<!-- FINISH PAGE LEVEL PLUGINS -->


<!-- START PAGE LEVEL SCRIPTS -->
	
	<!-- BEGIN END_OF_PAGE_SCRIPTS -->
	<script {END_OF_PAGE_SCRIPTS.TYPE} {END_OF_PAGE_SCRIPTS.SRC}>{END_OF_PAGE_SCRIPTS.BODY}</script>
	<!-- END END_OF_PAGE_SCRIPTS -->
	
	<!-- BEGIN PAGE_LEVEL_SCRIPTS -->
	<script {PAGE_LEVEL_SCRIPTS.TYPE} {PAGE_LEVEL_SCRIPTS.SRC}>{PAGE_LEVEL_SCRIPTS.BODY}</script>
	<!-- END PAGE_LEVEL_SCRIPTS -->
<!-- FINISH PAGE LEVEL SCRIPTS -->

<!-- START ONLOAD SCRIPTS -->
	<!-- BEGIN END_OF_PAGE_ONLOAD -->
	<script {END_OF_PAGE_ONLOAD.TYPE} {END_OF_PAGE_ONLOAD.SRC}>
	{END_OF_PAGE_ONLOAD.BODY}
	</script>
	<!-- END END_OF_PAGE_ONLOAD -->
	
	<!-- BEGIN PAGE_LEVEL_ONLOAD -->
	<script {PAGE_LEVEL_ONLOAD.TYPE} {PAGE_LEVEL_ONLOAD.SRC}>
	{PAGE_LEVEL_ONLOAD.BODY}
	</script>
	<!-- END PAGE_LEVEL_ONLOAD -->
<!-- FINISH ONLOAD SCRIPTS -->

<!-- FINISH JAVASCRIPTS -->