
				<!-- 

				-->
				<div class="form-group">
					<label class="col-sm-4 control-label"  for="{ELEMENT_ID}">{ELEMENT_TITLE}</label>
					<div class="col-sm-8">
						<select	name="{ELEMENT_ID}" id="{ELEMENT_ID}" class="form-control" required>
							<option value="" {SELECT_DEFAULT}>-- Select --</option>
							<!-- BEGIN selectOptions -->
							<option value="{selectOptions.OPTION_VALUE}" {selectOptions.OPTION_SELECTED}>{selectOptions.OPTION_DSP_VALUE}</option>
							<!-- END selectOptions -->
						</select>
					</div>
				</div>
				<!-- -->
				
				
				