<div class="content">
	home

	cover all of this: megachanges.diff

	<pre>
	[longstone@cs2668 core_stub_test]$ git status
	# On branch master
	# Changed but not updated:
	#   (use "git add <file>..." to update what will be committed)
	#   (use "git checkout -- <file>..." to discard changes in working directory)
	#
	#       modified:   CONFIG/AUTOLOAD/auth.global.php
	#       modified:   CONFIG/AUTOLOAD/data.global.php
	#       modified:   _UI/MAIN_UI/clean_login.php
	#       modified:   _UI/MAIN_UI/endOfpage.php
	#       modified:   _UI/MAIN_UI/harness.php
	#       modified:   _UI/MAIN_UI/head.php
	#       modified:   _UI/MAIN_UI/header.php
	#       modified:   _UI/MAIN_UI/index.html
	#       modified:   _UI/MAIN_UI/index.php
	#       modified:   _UI/MAIN_UI/login.php
	#       modified:   _UI/MAIN_UI/menu.php
	#       modified:   _UI/MAIN_UI/pageloader.php
	#       modified:   composer.json
	#       modified:   init.php
	#       modified:   install.sh
	#
	# Untracked files:
	#   (use "git add <file>..." to include in what will be committed)
	#
	#       CONFIG/AUTOLOAD/assetic.global.php
	#       CONFIG/AUTOLOAD/route.all.global.php
	#       CONFIG/AUTOLOAD/route.login.global.php
	#       CONFIG/AUTOLOAD/templater.global.php
	#       HTTP_ASSETS/TEMPLATES/HTML/Home.html
	#       HTTP_ASSETS/TEMPLATES/HTML/login.html
	#       _UI/MAIN_UI/footer.php
	#       _UI/MAIN_UI/jcore.php
	#       build.txt

	</pre>

</div>