<!-- 
This is a nested namespace loop. In the "controller" you'll assign data like this
crude example for clairity and simplicity you can find more elegant ways to do this

	$TEMPLATER->set_filenames(array($ps_template_body => 'basic_loop.html'));
	$query = 'SELECT pk, shortName, shortDesc, linkText FROM categories';
	DB stuff
	foreach($dataset AS $key => $value){
		$TEMPLATER->assign_block_vars('categories', array(	
			'ID'			=> $value["pk"],
			'SHORT_NAME'	=> $value["shortName"],
			'SHORT_DESC' 	=> $value["shortDesc"]
		));
		$subQuery = 'SELECT URL, shortDesc, linkText FROM links WHERE fk = '.$value["pk"].';';
		DB stuff
		foreach($dataset2 AS $key2 => $value2){
			$templater->assign_block_vars('categories.attribute', array(	
				'LINK_URL' 			=> $value2['URL'],
				'LINK_DESC'			=> $value2['shortDesc'],
				'LINK_NAME' 		=> $value2['linkText']
			));	
		}
	}
-->


<h1>Categories:</h1>
<!-- BEGIN categories -->
{categories.SHORT_NAME} <a href="javascript:void(0);" onClick="showDiv('category_{categories.ID}')"  >[+]</a>
	<div style="display: block;" id="category_{categories.ID}">
		{categories.SHORT_DESC}
		<!-- BEGIN links -->
		<a href="{categories.links.LINK_URL}" alt="{categories.links.LINK_DESC}"> {categories.links.LINK_NAME}</a><br>
		<!-- END links -->
	</div>
<!-- END categories -->




