<!-- 
This is a basic namespace loop. In the "controller" you'll assign data like this
	$TEMPLATER->set_filenames(array($ps_template_body => 'basic_loop.html'));
	$query = 'SELECT URL, shortDesc, linkText FROM links';
	DB stuff
	foreach($dataset AS $key => $value){
		$TEMPLATER->assign_block_vars('links', array(	
			'LINK_URL'	=> $value["URL"],
			'LINK_DESC' => $value["shortDesc"],
			'LINK_NAME'	=> $value["linkText"]
		));
	}
-->

<!-- BEGIN links -->
<a href="{links.LINK_URL}" alt="{links.LINK_DESC}"> {links.LINK_NAME}</a><br>
<!-- END links -->