									<!-- BEGIN menu.subitem -->
									<li >
										<a href="{menu.subitem.HREF}">
										<i class="icon-home"></i>
										<span class="title">{menu.subitem.NAME}</span>
										<span class="arrow "></span>
										</a>
										<ul class="sub-menu">
											<li>
												<a href="{menu.subitemHREF}"">
												<i class="icon-settings"></i> {menu.subitem.NAME} <span class="arrow"></span>
												</a>
												<ul class="sub-menu">
												<!-- BEGIN subitem -->
													<li>
														<a href="{menu.subitemsubitem.bHREF}">
														<i class="icon-bar-chart"></i>
														{menu.subitemsubitem.bNAME}</a>
													</li>
													<ul class="sub-menu">
													<!-- BEGIN sub_item -->
														{menu.subitemsubitem.sub_item.ELEMENTS}
													<!-- END sub_item -->
													</ul>
												<!-- END subitem -->
												</ul>
											</li>
										</ul>
									</li>
									<!-- END menu -->
					
